.slider {
  max-width: 100%;
  width: 100%;
  background: #222222;
  padding: 28px 0px;
  margin-top: 64px;
  @media (max-width: 760px) {
    padding-left: 40px;
  }
  @media (max-width: 440px) {
    padding-left: 90px;
  }
  @media (max-width: 415px) {
    padding-left: 70px;
  }
  @media (max-width: 366px) {
    padding-left: 50px;
  }
  @media (max-width: 340px) {
    padding-left: 30px;
  }
}
