.btn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary {
  padding: 16px 32px;
  background: var(--green);
  font-size: 1.3rem;
  color: var(--black-light);
  border-radius: 3px;
}

.btn-secondary {
  padding: 16px 32px;
  border-radius: 3px;
  background: var(--black-light);
  color: var(--white-primary);
}
