.stories-container {
  background: #222222;
  padding: 64px;
  h1 {
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
  }
  p {
    color: #777777;
    font-size: 1.4rem;
    margin-top: 8px;
    text-align: center;
  }
  .stories {
    .stories-content {
      display: flex;
      margin-top: 32px;
      .stories {
        background: #ffffff;
        padding: 36px 36px 0px;

        width: 400px;

        h3 {
          color: #252525;
          font-size: 2rem;
          margin-top: 15px;
        }
        p {
          font-size: 1.4rem;
          text-align: justify;
          color: #777777;
        }
        .star-content {
          display: flex;
          justify-content: space-between;
          margin-top: 16px;

          .star {
            display: flex;
          }
        }
        .defutura-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 65px;
          h4 {
            color: #252525;
            font-size: 1.6rem;
            font-family: "Grold-Regular";
          }
          p {
            font-size: 1.2rem;
            color: #777777;
            margin-top: 4px;
          }
          img {
            width: 150px;
          }
        }
      }
      .girl-img {
        img {
          width: 400px;
          height: 550px;
        }
      }
    }
  }
}
