.stories-container {
  background: #222222;
  padding: 64px;

  .stories-head {
    h1 {
      font-size: 4rem;
      text-align: center;
      color: #ffffff;
    }
    p {
      color: #777777;
      font-size: 1.4rem;
      margin-top: 8px;
      text-align: center;
    }
  }
  .stories-content {
    display: flex;
    margin-top: 32px;
    .stories {
      .stories-para {
        background: #ffffff;
        width: 376px;
        padding: 25px;

        h3 {
          font-size: 2.3rem;
          color: #252525;
          margin-top: 20px;
        }
        p {
          color: #777777;
          font-size: 1.4rem;
          margin-top: 16px;
          line-height: 20px;
        }
        .flex-one {
          display: flex;
          align-items: center;
          margin-top: 16px;
          gap: 130px;

          .date {
            span {
              color: #777777;
              font-size: 1.2rem;
            }
          }
        }
        .flex-two {
          display: flex;
          align-items: center;
          margin-top: 30px;
          gap: 70px;
          .developer {
            h5 {
              font-size: 1.4rem;
            }
            h6 {
              color: #777777;
              font-size: 1.1rem;
              font-weight: 100;
            }
          }
        }
      }
    }
    .girl-img {
      img {
        width: 400px;
      }
    }
  }
}
