.problems-container {
  .problems-content {
    padding: 64px 0px;
    .problems {
      position: relative;
      margin-right: 64px;
      h2 {
        color: #252525;
        font-size: 3.5rem;
        text-align: right;
      }
      p {
        font-size: 1.2rem;
        color: #777777;
        text-align: right;
        margin-top: 8px;
        padding-left: 450px;
      }
      .circle-img {
        position: absolute;
        top: 0px;
        left: 125px;
      }
      .circle-head {
        position: absolute;
        top: 0;
        left: 100px;
        z-index: -1;
      }
    }
    .demo-container {
      position: relative;
      padding: 0 27px;
      .circle-one {
        position: absolute;
        top: 9%;
        left: 13%;
        z-index: -1;
      }
      .circle-two {
        position: absolute;
        left: 55%;
        top: 24%;
        z-index: -1;
      }
      .circle-three {
        position: absolute;
        left: 55%;
        top: 50%;
        z-index: -1;
      }
      .circle-four {
        position: absolute;
        left: 15%;
        top: 65%;
        z-index: -1;
      }
      .learning-content-left {
        display: flex;
        justify-content: flex-start;
      }
      .learning-content-center {
        display: flex;
        justify-content: center;
      }
      .learning-content-right {
        display: flex;
        justify-content: flex-end;
      }
    }
    .circleColorContent {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      box-shadow: 1px 1px 58px rgba(24, 24, 24, 0.08);
      border-radius: 280px;
      width: 450px;
      height: 450px;
    }
    .content-two {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border: 2px solid red;
      width: 376px;
      height: 376px;
      border-radius: 280px;
      padding: 40px;
      h3 {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-family: "Grold-Light";
        padding: 5px 50px 0px;
        text-align: center;
      }
      p {
        color: #777777;
        font-size: 1em;
        text-align: center;
        margin-top: 16px;
      }
      Button {
        font-size: 1.4rem;
        margin-top: 16px;
      }
    }
  }
}
