.hero-container {
  .mx {
    .hero {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 85vh;

      @media (max-width: 645px) {
        display: block;
      }

      .background-img {
        position: relative;

        img {
          width: 90%;
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
          height: 100%;
          @media (max-width: 875px) {
            width: 95%;
          }
          @media (max-width: 645px) {
            width: 100%;
            height: 60vh;
            clip-path: none;
          }
        }
      }

      .video-container {
        @media (max-width: 645px) {
          margin-top: -5px;
          background: red;
          padding: 32px 0px;
          clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
          @media (max-width: 645px) {
            display: flex;
            justify-content: flex-end;
          }
        }
        .video {
          position: relative;
          width: 280px;
          height: 480px;
          border-radius: 11.5px;
          background: #0e0e0e;
          margin-right: 70px;

          @media (max-width: 855px) {
            margin-right: 50px;
          }
          @media (max-width: 690px) {
            margin-right: 25px;
          }
          @media (max-width: 660px) {
            margin-right: 10px;
          }
          @media (max-width: 815px) {
            width: 250px;
            height: 470px;
          }
          @media (max-width: 710px) {
            width: 230px;
            height: 430px;
          }
          @media (max-width: 645px) {
            width: 280px;
            height: 480px;
            margin-right: 100px;
          }
          @media (max-width: 540px) {
            margin-right: 60px;
            width: 250px;
            height: 450px;
          }
          @media (max-width: 425px) {
            margin-right: 40px;
          }
          @media (max-width: 385px) {
            width: 220px;
            height: 420px;
          }
        }
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          right: -25px;
          bottom: 225px;
        }
      }
      .content {
        position: absolute;
        z-index: 3;
        bottom: 80px;
        left: 80px;
        @media (max-width: 960px) {
          left: 40px;
        }
        @media (max-width: 645px) {
          top: 45%;
        }
        .check-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin-bottom: 20px;
          color: white;

          @media (max-width: 815px) {
            gap: 10px;
          }
          img {
            width: 35px;
            @media (max-width: 815px) {
              width: 30px;
            }
          }

          h1 {
            font-size: 3.2rem;
            @media (max-width: 1025px) {
              font-size: 3rem;
            }
            @media (max-width: 815px) {
              font-size: 2.5rem;
            }
          }
          p {
            font-size: 3.2rem;
            @media (max-width: 1025px) {
              font-size: 2.8rem;
            }
            @media (max-width: 1025px) {
              font-size: 2.4rem;
            }
          }
        }
        .check-circle-two {
          display: flex;
          align-items: center;
          gap: 20px;
          color: white;
          @media (max-width: 815px) {
            gap: 10px;
          }
          img {
            width: 35px;
            @media (max-width: 815px) {
              width: 30px;
            }
          }

          h1 {
            font-size: 3.2rem;
            @media (max-width: 1025px) {
              font-size: 3rem;
            }
            @media (max-width: 815px) {
              font-size: 2.5rem;
            }
          }
          p {
            font-size: 3.2rem;
            @media (max-width: 1025px) {
              font-size: 2.8rem;
            }
            @media (max-width: 1025px) {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
}
