.hero-container {
  .mx {
    .hero {
      height: 100vh;
      width: 60%;

      .slider-content {
        background-image: url(../../assets/images/background-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -30px;
        clip-path: polygon(0 1%, 100% 0, 89% 100%, 0% 100%);
        height: 100vh;
        // .one {
        //   background: red;
        //   height: 100vh;
        // }
        // .two {
        //   background: yellow;
        //   height: 100vh;
        // }
        // .three {
        //   background: green;
        //   height: 100vh;
        // }
        // .four {
        //   background: pink;
        //   height: 100vh;
        // }

        .hero-content {
          .check-content {
            position: absolute;
            top: 20px;
            left: 50px;
            .check {
              display: flex;
              gap: 20px;
              margin-top: 16px;

              img {
                width: 33px;
              }
              h4 {
                color: #ffffff;
                font-size: 2.5rem;
                span {
                  font-family: "Grold-Light";
                  font-weight: 100;
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }

      .video-content {
        background: white;
        position: absolute;
        top: 5%;
        left: 100%;
        // margin-left: 90px;

        .video {
          position: absolute;
          width: 330px;
          height: 600px;
          right: 200px;
          margin-top: 50px;
          background: var(--black-primary);
          box-shadow: 1px 1px 58px rgba(24, 24, 24, 0.08);
          border-radius: 20px;
          overflow: initial;

          img {
            position: absolute;
            left: 90%;
            bottom: 239px;
          }
        }
      }
    }
  }
}
