.recongnition-container {
  background: #0a0a0a;
  padding: 64px 0px;
  h1 {
    font-size: 3.5rem;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
  }
  .recongnition-content {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 64px;

    .google-content {
      display: flex;
      align-items: center;
      gap: 32px;
      padding-right: 45px;
      border-right: 1px solid #252525;
      .google-img {
        img {
          width: 100px;
        }
      }
      .google-para {
        h5 {
          font-weight: 100;
          font-size: 1.4rem;
          color: #ffffff;
        }
        p {
          margin-top: 8px;
          font-size: 1.2rem;
          color: #777777;
        }
      }
    }
  }
}
