.benifits-contanier {
  background: var(--black-primary);
  padding: 64px 0px;
  .mx {
    max-width: 85%;
    margin: 0 auto;
    h3 {
      font-size: 4rem;
      color: #ffffff;
      text-align: center;
      font-family: "Grold-Light";
    }
    .education-content {
      .benifits-content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 64px;
        border-bottom: 1px solid #252525;
        &:nth-last-child(5) {
          border-bottom: none;
        }

        img {
          margin: 64px 0px;
        }
        h2 {
          font-family: "Grold-Light";
          text-transform: uppercase;
          color: #ffffff;
          font-size: 1.8rem;
        }
        p {
          font-size: 1.4rem;
          color: #777777;
          margin-top: 16px;
        }
        Button {
          color: #ffffff;
          margin-top: 32px;
          font-size: 1.4rem;
        }
      }
    }

    .benifits-content {
      display: flex;
      align-items: center;
      gap: 64px;
      border-bottom: 1px solid #252525;
      img {
        margin: 64px 0px;
      }
      h2 {
        font-family: "Grold-Light";
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1.8rem;
      }
      p {
        font-size: 1.4rem;
        color: #777777;
        margin-top: 16px;
      }
      Button {
        color: #ffffff;
        margin-top: 32px;
        font-size: 1.4rem;
      }
    }
  }
}
