.footer-container {
  .footer {
    background: linear-gradient(180deg, #000000 0%, #0a0a0a 92.19%);
    @media (max-width: 430px) {
      white-space: normal;
    }
    > .mx.pad {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0px 40px 0px 40px;
      @media (max-width: 660px) {
        padding: 64px 20px 0px 20px;
      }

      @media (max-width: 1095px) {
        grid-template-columns: 1fr;
        padding-top: 64px;
      }
    }
    .footerFirst {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 1095px) {
        text-align: center;
      }
      @media (max-width: 400px) {
        display: block;
      }

      .footerBorder {
        display: grid;
        place-items: center;
        margin-top: -5px;
        @media (max-width: 1145px) {
          margin-top: -40px;
        }
        @media (max-width: 1095px) {
          margin-top: 0px;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-right: 0.5px solid #d9d9d9;
          padding: 0 15px;
          @media (max-width: 500px) {
            padding: 0px;
          }
          @media (max-width: 400px) {
            border: none;
          }
        }
        img {
          @media (max-width: 400px) {
            max-width: 30%;
          }
        }
        .footerPara {
          p {
            font-family: "Grold-Light";
            color: #8c8c8c;
            font-size: 1.1rem;
            line-height: 16px;
            margin-top: 20px;
            @media (max-width: 1095px) {
              text-align: left;
            }
          }
          @media (max-width: 495px) {
            margin-right: 20px;
          }
          @media (max-width: 440px) {
            margin-right: 10px;
          }
        }
      }
      .border {
        height: 111px;
      }

      .contact {
        margin-top: 80px;
        margin-left: 20px;
        @media (max-width: 1200px) {
          margin-top: 100px;
        }
        @media (max-width: 1095px) {
          padding-left: 44px;
          margin-top: 0px;
        }
        @media (max-width: 725px) {
          padding-left: 30px;
        }
        @media (max-width: 660px) {
          padding-left: 10px;
        }
        @media (max-width: 500px) {
          margin-left: 0px;
        }
        @media (max-width: 400px) {
          margin-left: -10px;
        }

        h5 {
          font-family: "Grold-Regular";
          color: #8c8c8c;
          font-size: 1.4rem;
          line-height: 18px;
          font-weight: 400;
          @media (max-width: 1095px) {
            text-align: left;
          }
          @media (max-width: 400px) {
            margin-top: 30px;
            margin-bottom: -20px;
          }
        }
        .Icon {
          display: flex;
          gap: 10px;
          margin-top: 35px;
          @media (max-width: 1095px) {
            text-align: left;
          }

          a {
            font-family: "Grold-Light";
            text-decoration: none;
            font-size: 1.2rem;
            color: #787878;
            line-height: 13px;
          }
        }
        .Icons {
          display: flex;
          gap: 10px;
          margin-top: 8px;
          @media (max-width: 1095px) {
            text-align: left;
          }

          a {
            font-family: "Grold-Light";
            text-decoration: none;
            font-weight: 400;
            font-size: 1.2rem;
            color: #787878;
            line-height: 13px;
          }
        }
      }
    }

    .footerSecond {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 40px;
      margin-top: 45px;
      @media (max-width: 1200px) {
        margin-top: 70px;
      }
      @media (max-width: 1290px) {
        margin-left: 20px;
      }
      @media (max-width: 1095px) {
        text-align: center;
      }
      @media (max-width: 500px) {
        margin-left: 0px;
        margin-top: 12px;
      }
      @media (max-width: 1095px) {
        text-align: left;
        margin: 0 auto;
        gap: 300px;
      }
      @media (max-width: 960px) {
        gap: 200px;
      }
      @media (max-width: 780px) {
        gap: 100px;
      }
      @media (max-width: 550px) {
        gap: 80px;
      }
      @media (max-width: 461px) {
        gap: 50px;
      }
      @media (max-width: 401px) {
        gap: 30px;
      }

      h5 {
        color: #8c8c8c;
        font-size: 1.3rem;
        line-height: 15px;
        font-weight: 800;
        margin-top: 30px;
      }
      a {
        font-family: "Grold-Light";
        display: block;
        text-decoration: none;
        color: #8c8c8c;
        font-weight: 400;
        margin-left: -6px;
        font-size: 1.3rem;
        line-height: 15px;
        padding: 8px;
      }
      .home {
        margin-top: 26px;
      }
    }
    .footerThird {
      margin-top: 46px;
      @media (max-width: 1200px) {
        margin-top: 70px;
      }
      @media (max-width: 1095px) {
        margin-top: 0px;
      }
      p {
        font-size: 1.2rem;
        font-family: "Grold-SemiLight";
        line-height: 16px;
        text-align: justify;
        margin-top: 24px;
        color: #8c8c8c;
      }
      span {
        font-size: 1.3rem;
        font-weight: 800;
      }
      .connect {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #111111;
        border-radius: 128px;
        margin: 25px 0px 25px;

        a {
          display: block;
          text-decoration: none;
          color: #919191;
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 15px;
          padding: 16px 10px 16px;
        }
      }
    }
  }
  .copyRight {
    p {
      font-family: "Grold-Light";
      text-align: center;
      border-top: 1px dashed #8c8c8c;
      padding: 16px 0px 32px;
      color: #8c8c8c;
      font-size: 1.1rem;
    }
  }
  .footerEnd {
    display: flex;
    gap: 20px;
    background: #0e0e0e;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    p {
      font-family: "Grold-Regular";
      line-height: 12px;
      color: #8c8c8c;
      font-size: 1.1rem;
    }
    svg {
      width: 100px;
    }
  }
}
