.featured-container {
  h1 {
    color: var(--black-light);
    font-size: 3.5rem;
    text-align: center;
    margin-top: 64px;
  }
  p {
    font-size: 1.4rem;
    text-align: center;
    color: var(--white-secondary);
    margin-top: 8px;
  }
  .featured-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px;
    margin: 32px 64px 64px 64px;
    .hindu-content {
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      padding: 16px;
      text-align: center;
      .right {
        img {
          margin-top: 36px;
        }
      }
      p {
        font-size: 1.4rem;
        margin-top: 20px;
        line-height: 18px;
      }
      .left {
        img {
          margin-top: 21px;
        }
      }
      p {
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}
