@font-face {
  font-family: "Grold-Medium";
  src: url(./assets/fonts/Grold-Medium.ttf);
}
@font-face {
  font-family: "Grold-Regular";
  src: url(./assets/fonts/Grold-Regular.ttf);
}
@font-face {
  font-family: "Grold-Light";
  src: url(./assets/fonts/Grold-Light.ttf);
}
@font-face {
  font-family: "Grold-ExtraLight";
  src: url(./assets/fonts/Grold-ExtraLight.ttf);
}
@font-face {
  font-family: "Grold-SemiLight";
  src: url(./assets/fonts/Grold-SemiLight.ttf);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grold-SemiLight";
  font-size: 1.4rem;
}
.mx {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.pad {
  padding: 0 5rem;
}

.text-coloring {
  background: linear-gradient(to right, #293eff 0%, #8f00ff 45%, #ff7a00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --white-primary: #ffffff;
  --white-secondary: #777777;
  --black-primary: #111111;
  --black-light: #252525;
  --green: #00ce53;
  --background-gradient: linear-gradient(
    to right,
    red 0%,
    green 45%,
    yellow 100%
  );
}
